/*
Template: Hallooou HTML5 Responsive template
Author: Mauritius D'Silva <hello@mauritiusdsilva.com>
Theme URI: http://www.mauritiusdsilva.com/themes/hallooou
Version: 1.0

*/


/*  ----------------------------------------------
            CSS TABLE OF CONTENTS
    ------------------------------------------------- */

/* 1:	Parallax effect on element
/* ---------------------------------------------- */

#intro,
#portfolio {
    min-height: 100%;
    background-position: center center;
    -webkit-background-size: cover !important;
       -moz-background-size: cover !important;
            background-size: cover !important;
         -o-background-size: cover !important;
}

@media only screen and (min-width: 992px) {
    #intro,
    #portfolio {
        background-attachment: fixed;
    }
}